.about-us-container {
  text-align: right;
}

.about-us-content {
  margin: 3% 6% 0 6%;
}

.about-us-content h3 {
    font-size: 35px;
  }

  .about-us-content p {
    margin-top: 0.5%;
    margin-bottom: 2%;

  }

.btn-join-us {
  text-align: center;
  margin-top: 7%;
}

.btn-join-us button {
    background-color: #00B14F;
    padding: 10px 20px; /* Add padding to the button for better tapability */
  font-size: 16px;
}

@media (max-width: 600px) {
  .about-us-content {
    margin: 3% 2% 0 2%; /* Adjust margin for smaller screens */
  }

  .btn-join-us {
    margin-top: 3%; /* Further adjust margin for smaller screens */
  }

  .btn-join-us button {
    font-size: 14px; /* Further adjust font size for smaller screens */
  }
}

