
.div-qr-and-store {
  display: flex;
  margin-left: 5.9%;
}

.div-qr-and-store .div-qr {
  text-align: right;
  margin-top: 0.5%;
  margin-right: 1%;
}

.div-qr-and-store .div-qr img {
  width: 25%;
}

.div-store {
  display: grid;
  margin-left: 1.5%;
}

.div-store .img-first {
  margin-top: 11px;
}

.div-store .img-second {
  margin-top: 26px;
}
