/* .timer-container {
  background-image: url("../../assets/coming-soon-bg.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100vw;
  height: 100vh;
}

.timer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 100%;
  height: 110%;
}

.countdown-text-content {
  margin-right: 5%;
}

.timer div:first-child {
  text-align: center;
}

.timer-icon {
  font-size: 8em;
}

.countdown-text-content h2 {
  font-weight: 600;
  margin-bottom: 0.5em;
  font-size: 40px;
}

.countdown-text-content p {
  font-size: 15px;
}

.timer div:last-child {
  border: 1px solid#fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 3em;
  padding: 3em;
  text-align: center;
}

section p:first-child,
.timer div:last-child span {
  font-size: 3em;
}

.mdi:before, .mdi-set {
  font-size: 80px;
}

@media screen and (max-width: 480px) {
  .timer div:last-child {
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;
  }
}

@media screen and (max-width: 768px) {
  .timer div:last-child {
    grid-template-columns: repeat(4, 1fr);
    padding: 2em;
  }
}

@media screen and (max-width: 480px) {
  .timer div:last-child {
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
  }

  .countdown-text-content {
    margin-right: 0;
  }
} */
.timer-container {
  background-image: url("../../assets/coming-soon-bg.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
}

.timer-clock-content {
  display: flex;
  align-items: center;
}

.countdown-text-content {
  margin-right: 0;
  text-align: center;
}

.timer div:first-child {
  text-align: center;
}

.timer-icon {
  font-size: 8em;
}

.countdown-text-content h2 {
  font-weight: 600;
  margin-bottom: 0.5em;
  font-size: 40px;
}

.countdown-text-content p {
  font-size: 15px;
}

.timer div:last-child {
  border: 1px solid #fff;
  border-radius: 3px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 3em;
  padding: 3em;
  text-align: center;
}

section p:first-child,
.timer div:last-child span {
  font-size: 3em;
}

.mdi:before,
.mdi-set {
  font-size: 80px;
}

@media screen and (max-width: 480px) {
  .timer div:last-child {
    margin-left: 2em;
    margin-right: 2em;
    padding: 3em 1em;
  }
}

@media screen and (max-width: 768px) {
  .timer div:last-child {
    grid-template-columns: repeat(4, 1fr);
    padding: 2em;
  }
}

@media screen and (max-width: 480px) {
  .timer div:last-child {
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
  }

  .countdown-text-content {
    margin-right: 0;
  }
}
